@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');

* {
    font-family: 'Recursive', sans-serif;
}

#main {
    margin: auto;
    text-align: center;
    border: 1px solid; 
    width: 600px;
}

#todoList {
    margin: 0 auto;
}

#todoItem {
    border: 1px solid;
    height: 20px;
    width: 200px;
}

#addBtn {
    background-color: lightgreen;
    height: 50px;
    border: none;
    width: 100px;
    margin: 10px;
    color: white;
}

#clearBtn {
    background-color: lightskyblue;
    height: 50px;
    border: none;
    width: 150px;
    color: white;
}

.editBtn {
    background-color: lightslategray;
    height: 50px;
    border: none;
    width: 150px;
    margin: 10px;
    color: white;
}

.deleteBtn {
    background-color: red;
    height: 50px;
    border: none;
    width: 150px;
    margin: 10px;
    color: white;
}

.completeBtn {
    background-color: royalblue;
    height: 50px;
    border: none;
    width: 150px;
    margin: 10px;
    color: white;
}